<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">


</head>

<body id="body">
  <div class="wrapper">
    <header id="header" style="color:$teal-300">
      <h1 id="title">
        <a href="/">The Tech Blog</a>
      </h1>
      <nav>
        
        {{#if loggedIn}}
        <a href="/" id="homepage" class="nav">home</a>
        <a href="/dashboard" id="dashboard" class="nav">dashboard</a>
        <a id="logout" class="nav">logout</a>
        {{else}}
        <a href="/login" class="nav">login</a>
        {{/if}}
      </nav>

      
    </header>
    <main id="main">
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  <script>
    window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("header");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

  </script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>