#header {
    box-sizing: border-box;
    background-color: #473A37;
    color: aliceblue;
}

#body {
    background-color: #BAE0D0;
}

.wrapper {

}

#title {
    box-sizing: content-box;
    border-radius: 5px;
}